.icon-class-barbarian { background-image: url(../img/classes/barbarian.jpg);}
.icon-class-bard { background-image: url(../img/classes/bard.jpg);}
.icon-class-cleric { background-image: url(../img/classes/cleric.jpg);}
.icon-class-druid { background-image: url(../img/classes/druid.jpg);}
.icon-class-fighter { background-image: url(../img/classes/fighter.jpg);}
.icon-class-monk { background-image: url(../img/classes/monk.jpg);}
.icon-class-paladin { background-image: url(../img/classes/paladin.jpg);}
.icon-class-ranger { background-image: url(../img/classes/ranger.jpg);}
.icon-class-rogue { background-image: url(../img/classes/rogue.jpg);}
.icon-class-sorcerer { background-image: url(../img/classes/sorcerer.jpg);}
.icon-class-warlock { background-image: url(../img/classes/warlock.jpg);}
.icon-class-wizard { background-image: url(../img/classes/wizard.jpg);}