.icon-custom-armor-light { background-image: url(../img/custom-icons/leather-vest.png);}
.icon-custom-armor-medium { background-image: url(../img/custom-icons/lamellar.png);}
.icon-custom-armor-heavy { background-image: url(../img/custom-icons/breastplate.png);}
.icon-custom-shield { background-image: url(../img/custom-icons/round-shield.png);}

.icon-custom-potion { background-image: url(../img/custom-icons/drink-me.png);}
.icon-custom-light { background-image: url(../img/custom-icons/candle-flame.png);}
.icon-custom-flask { background-image: url(../img/custom-icons/fizzing-flask.png);}
.icon-custom-vial { background-image: url(../img/custom-icons/chemical-drop.png);}
.icon-custom-poison { background-image: url(../img/custom-icons/poison-bottle.png);}
.icon-custom-trap { background-image: url(../img/custom-icons/wolf-trap.png);}
.icon-custom-item { background-image: url(../img/custom-icons/knapsack.png);}
.icon-custom-wand { background-image: url(../img/custom-icons/crystal-wand.png);}
.icon-custom-swords { background-image: url(../img/custom-icons/crossed-swords.png);}
.icon-custom-arrows { background-image: url(../img/custom-icons/target-arrows.png);}
.icon-custom-swordarrow { background-image: url(../img/custom-icons/mixed-swords.png);}

.icon-custom-spell { background-image: url(../img/custom-icons/white-book.png);}
.icon-custom-spell-0 { background-image: url(../img/custom-icons/white-book-0.png);}
.icon-custom-spell-1 { background-image: url(../img/custom-icons/white-book-1.png);}
.icon-custom-spell-2 { background-image: url(../img/custom-icons/white-book-2.png);}
.icon-custom-spell-3 { background-image: url(../img/custom-icons/white-book-3.png);}
.icon-custom-spell-4 { background-image: url(../img/custom-icons/white-book-4.png);}
.icon-custom-spell-5 { background-image: url(../img/custom-icons/white-book-5.png);}
.icon-custom-spell-6 { background-image: url(../img/custom-icons/white-book-6.png);}
.icon-custom-spell-7 { background-image: url(../img/custom-icons/white-book-7.png);}
.icon-custom-spell-8 { background-image: url(../img/custom-icons/white-book-8.png);}
.icon-custom-spell-9 { background-image: url(../img/custom-icons/white-book-9.png);}
.icon-custom-spell-holy { background-image: url(../img/custom-icons/white-book-cd.png);}
.icon-custom-spell-runes { background-image: url(../img/custom-icons/book-cover.png);}

.icon-custom-class-arcane { background-image: url(../img/custom-icons/robe.png);}
.icon-custom-class-cleric { background-image: url(../img/custom-icons/holy-symbol.png);}
.icon-custom-class-rogue { background-image: url(../img/custom-icons/cloak-dagger.png);}